.logo {
  width: 214px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  
  &__icon-container {
    background: var(--teal-700);
    padding: 6px;
    border-radius: var(--radius-8);

    svg {
      stroke-width: 2px;
      color: var(--neutral-0);
    }
  }

  &__title {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
  }
}