// Import Manrope
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// ─── Shared (theme-independent) ───────────────────────────────
:root {
  // Teal
  --teal-700: #014745;
  --teal-800: #013c3b;

  // Red
  --red-600: #fd4740;
  --red-800: #cb0a04;

  // Typography
  // font: font-weight font-size/line-height font-family
  --text-preset-1: 700 24px/140% "Manrope", sans-serif;
  --text-preset-2: 700 20px/120% "Manrope", sans-serif;
  --text-preset-2-semi: 600 20px/120% "Manrope", sans-serif;
  --text-preset-3: 600 16px/140% "Manrope", sans-serif;
  --text-preset-3-medium: 500 16px/130% "Manrope", sans-serif;
  --text-preset-4: 600 14px/140% "Manrope", sans-serif;
  --text-preset-4-medium: 500 14px/150% "Manrope", sans-serif;
  --text-preset-5: 500 12px/140% "Manrope", sans-serif;

  // Spacing
  --spacing-0: 0;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;

  // Border Radius
  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;

  // Box shadows
  --button-shadow: 0 0 0 1px rgb(34 38 39 / 0.12);
}

// ─── Light Mode ───────────────────────────────────────────────
:root[data-theme="light"] {
  --neutral-900: #051513;
  --neutral-800: #4c5c59;
  --neutral-500: #899492;
  --neutral-400: #c0cfcc;
  --neutral-300: #dde9e7;
  --neutral-100: #e8f0ef;
  --neutral-0: #ffffff;

  --main-bg: var(--neutral-100);
  --secondary-bg: var(--neutral-0);
  --form-bg: var(--neutral-0);
  --text-color-primary: var(--neutral-900);
  --text-color-secondary: var(--neutral-800);
  --input-bg: var(--neutral-0);
  --input-outline: var(--neutral-500);
  --sidebar-border-color: var(--neutral-300);
}

// ─── Dark Mode ────────────────────────────────────────────────
:root[data-theme="dark"] {
  --neutral-900: #001414;
  --neutral-800: #001f1f;
  --neutral-600: #002e2d;
  --neutral-500: #004241;
  --neutral-400: #004746;
  --neutral-300: #00706e;
  --neutral-100: #b1b9b9;
  --neutral-0: #ffffff;

  --main-bg: var(--neutral-900);
  --secondary-bg: var(--neutral-800);
  --form-bg: var(--neutral-800);
  --text-color-primary: var(--neutral-0);
  --text-color-secondary: var(--neutral-100);
  --input-bg: var(--neutral-600);
  --input-outline: var(--neutral-300);
  --sidebar-border-color: var(--neutral-500);
}
